<style>
    .container{
        margin: 150px;
        background-color: white;
        padding: 80px;
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 150px;
        margin-top: 80px;
    }    
    .form{
        border: 2px;
    }    
    body {
        background: #eee !important;
    }

	.wrapper {
  		margin-top: 80px;
 	 	margin-bottom: 80px;
	}
	h1 {
		align-content: center;
	}
</style>
